<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>290072389029-i89m9pbqe6lq3aqv4tf0t6qgcgse1hbb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290072389029-i89m9pbqe6lq3aqv4tf0t6qgcgse1hbb</string>
	<key>API_KEY</key>
	<string>AIzaSyC9kwMBNLj9Z8QFzjq8YfGfVo5nbls2M8g</string>
	<key>GCM_SENDER_ID</key>
	<string>290072389029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.deBie.StreamingNetworkApp</string>
	<key>PROJECT_ID</key>
	<string>streamingnetwork-12984</string>
	<key>STORAGE_BUCKET</key>
	<string>streamingnetwork-12984.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:290072389029:ios:ead99a497934d355</string>
	<key>DATABASE_URL</key>
	<string>https://streamingnetwork-12984.firebaseio.com</string>
</dict>
</plist>
